<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8b134085b2.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="fbinput">
            <img src="../static/images/2021_Facebook_icon.svg.webp" alt="" height="50px" width="50px">
            <form action="" method="post" class="form1">
                <button type="submit"><i class="fa-solid fa-magnifying-glass" style="color: gray;"></i></button></a>
                <input type="text" placeholder="Search Facebook">
            </form>
        </div>
        <div class="icons">
            <a href="#"><i class="fa-solid fa-house" style="color: gray;"></i></a>
            <a href="#"><i class="fa-regular fa-file-video" style="color: gray;"></i></a>
            <a href="#"><i class="fa-solid fa-store" style="color: gray;"></i></a>
            <a href="#"><i class="fa-solid fa-user-group" style="color: gray;"></i></a>
            <a href="#"><i class="fa-solid fa-gamepad" style="color: gray;"></i></a>
        </div>
        <div class="sideicons">
            <a href="#"><i class="fa-solid fa-braille" style="color: gray;"></i></a>
            <a href="#"><i class="fa-brands fa-facebook-messenger" style="color: gray;"></i></a>
            <a href="#"><i class="fa-regular fa-bell" style="color: gray;"></i></a>
        </div>
        <a href="#" ><img class="jef" src="../static/images/jef.JPG" alt="" height="50px" width="50px"></a>

    </header>


    <!-- side bar section starts here  -->

    <div class="container">
        <div class="row">
            <div class="col_4">
                <div class="mainside">
                    <div class="profile">
                        <a href="#"><img src="../static/images/jef.JPG" alt="" height="40px" width="40px"></a>
                        <a href="#" class="jef">Jeffin Dericks</a>
                    </div>
                    <div class="friends">
                        <a href="#"><i class="fa-solid fa-user-group" style="color: lightblue;"></i></a>
                        <a href="#" class="fri">Friends</a>
                    </div>
                    <div class="friends">
                        <a href="#"><i class="fa-regular fa-clock" style="color: brown;"></i></a>
                        <a href="#" class="fri">Memories</a>
                    </div>
                    <div class="friends">
                        <a href="#"><i class="fa-regular fa-bookmark" style="color: lightcoral;" ></i></a>
                        <a href="#" class="fri">Saved</a>
                    </div>
                    <div class="friends">
                        <a href="#"><i class="fa-solid fa-people-group" style="color: #0095f6;"></i></a>
                        <a href="#" class="fri">Groups</a>
                    </div>
                    <div class="friends">
                        <a href="#"><i class="fa-solid fa-clapperboard" style="color: #0095f6"></i></a>
                        <a href="#" class="fri">Video</a>
                    </div>
                    <div class="friends">
                        <a href="#"><i class="fa-solid fa-shop" style="color: lightseagreen;"></i></a>
                        <a href="#" class="fri">Marketplace</a>
                    </div>
                    <div class="friends">
                        <a href="#"><i class="fa-regular fa-id-card" style="color: blueviolet;"></i></a>
                        <a href="#" class="fri">Feeds</a>
                    </div>
                    <div class="friends">
                        <a href="#"><i class="fa-solid fa-calendar-day" style="color: lightcoral;"></i></a>
                        <a href="#" class="fri">Events</a>
                    </div>
                    <div class="friends">
                        <a href="#"><i class="fa-solid fa-angle-down"></i></a>
                        <a href="#" class="fri">See more</a>
                    </div>
                    <div class="friends">
                        <form action="/logout" method="post">
                            <a href="#"><i class="fa-solid fa-right-from-bracket"></i></a>
                            <button type="submit">Logout</button>
                        </form>

                    </div>
                    
                </div>
            </div>

            <div class="col_5">
                <div class="centerpart">
                    <div class="storyreels">
                        <div class="story">
                            <a href="#"><i class="fa-solid fa-book-open"></i></a>
                            <a href="#">stories</a>
                        </div>
                        <div class="reels">
                            <a href="#"><i class="fa-solid fa-clapperboard"></i></a>
                            <a href="#">Reels</a>
                        </div>
                    </div>
                    <div class="createstory">
                        <div class="mairapudungi">
                            <a href="#"><img class="img1" src="../static/images/jef.JPG" alt="" height="180px" width="140px"></a>
                            <p class="plus">+</p>
                            <p class="plus2">Create Story</p>
                        </div>
                        <div class="createstory2">
                        <a href="#"><img src="../static/images/AB golf.jpg" alt="" height="230px" width="140px"></a>
                        <a href="#" class="absoluteimg"><img src="../static/images/abd.webp" alt="" height="60px" width="60px"></a>
                        
                        </div>
                        <div class="createstory2">
                            <a href="#"><img src="../static/images/cook.webp" alt="" height="230px" width="140px"></a>
                            <a href="#" class="absoluteimg"><img src="../static/images/cook final.webp" alt="" height="60px" width="60px"></a>
                            
                        </div>
                        <div class="createstory2">
                            <a href="#"><img src="../static/images/vk _flick.jpg_large" alt="" height="230px" width="140px"></a>
                            <a href="#" class="absoluteimg"><img src="../static/images/bear_grylls.jpg" alt="" height="60px" width="60px"></a>
                            
                        </div>

                    </div>
                </div>
                <div class="whatmind">
                    <div class="mindjef">
                        <img src="../static/images/jef.JPG" alt="" height="50px" width="50px">
                        <a href="#"><input type="text" placeholder="What's on your mind, Jeffin?"></a>
                    </div>
                    <hr>
                    <div class="periyavideo">
                        <div class="livevideo">
                            <p><i class="fa-solid fa-video"></i></p>
                            <p class="comm">Live Video</p>
                        </div>
                        <div class="livevideo">
                            <a href="{{url_for('post')}}">
                                <i class="fa-regular fa-images"></i> Photo/video
                            </a>
                        </div>
                        <div class="livevideo">
                            <p><i class="fa-regular fa-face-smile-wink"></i></p>
                            <p class="comm">Feeling/activity</p>
                        </div>
                    </div>
                </div>


                <!-- new post starts here  -->
                {%for i in post%}
                <div class="post1">
                    <div class="photopro">
                        <img src="../static/images/john unknown.jpg" alt="" height="50px" width="50px">
                        <p class="safi">Safi Marcelo <br> <span>1 September at 21:17</span></p>
                        <p class="pulligal">...</p>
                        <p class="x">X</p>
                    </div>

                    <div class="captionrow">
                        <p>Livin'</p>
                        <div class="pc">
                        <p><i class="fa-solid fa-camera-retro"></i></p> <a href="#">  @vishnooo</a><br>
                        </div>
                        <nav>
                            <a href="#">#instagram</a>
                            <a href="#">#instagood</a>
                            <a href="#">#dslr</a>
                            <a href="#">#photography</a>
                            <a href="#">#gwalior</a>
                            <a href="#">#airforce</a>
                            <a href="#">#defence</a>
                            <a href="#">#naturephotography</a>
                            <a href="#">#nature</a>
                            <a href="#">#latepost</a>
                            <a href="#">#playthegame</a>
                            <a href="#">#model</a>
                            <a href="#">#photography</a>
                            <a href="#">#outdoors</a>
                        </nav>
                    </div>
                    <div class="originalphoto">
                        <img src="{{i['imagelink']}}" alt="" height="600px" width="100%">
                        <div class="likeothers">
                            <p class="thumb1"><i class="fa-regular fa-thumbs-up"></i> Safi marcelo and 20 others</p>
                            <p>1 <i class="fa-regular fa-message"></i></p>
                        </div>
                        <hr>
                        <div class="likesharecomment">
                            <div class="likey">
                                <form action="/operate/1" method="post" class="likeform">
                                    <button type="submit"><i class="fa-regular fa-thumbs-up"></i>{{count1}} Like</button>
                                </form>
                                <form action="" method="post" class="likeform">
                                    <button><i class="fa-regular fa-message"></i> Comment</button>
                                </form>
                                <form action="" method="post" class="likeform">
                                    <button><i class="fa-solid fa-share"></i> Share</button>
                                </form>
                            </div>
                        </div>
                        <hr>
                        <div class="mindjef">
                            <img src="../static/images/john unknown.jpg" alt="" height="50px" width="50px">
                            <a href="#"><input type="text" placeholder="Write a comment..."></a>
                        </div>
                        
                    </div>
                </div>
                {%endfor%}

                <!-- post1 starts here -->

                <div class="post1">
                    <div class="photopro">
                        <img src="../static/images/john unknown.jpg" alt="" height="50px" width="50px">
                        <p class="safi">Safi Marcelo <br> <span>1 September at 21:17</span></p>
                        <p class="pulligal">...</p>
                        <p class="x">X</p>
                    </div>

                    <div class="captionrow">
                        <p>Livin'</p>
                        <div class="pc">
                        <p><i class="fa-solid fa-camera-retro"></i></p> <a href="#">  @vishnooo</a><br>
                        </div>
                        <nav>
                            <a href="#">#instagram</a>
                            <a href="#">#instagood</a>
                            <a href="#">#dslr</a>
                            <a href="#">#photography</a>
                            <a href="#">#gwalior</a>
                            <a href="#">#airforce</a>
                            <a href="#">#defence</a>
                            <a href="#">#naturephotography</a>
                            <a href="#">#nature</a>
                            <a href="#">#latepost</a>
                            <a href="#">#playthegame</a>
                            <a href="#">#model</a>
                            <a href="#">#photography</a>
                            <a href="#">#outdoors</a>
                        </nav>
                    </div>
                    <div class="originalphoto">
                        <img src="../static/images/joshua_unknown.jpg" alt="" height="600px" width="100%">
                        <div class="likeothers">
                            <p class="thumb1"><i class="fa-regular fa-thumbs-up"></i> Safi marcelo and 20 others</p>
                            <p>1 <i class="fa-regular fa-message"></i></p>
                        </div>
                        <hr>
                        <div class="likesharecomment">
                            <div class="likey">
                                <form action="/operate/1" method="post" class="likeform">
                                    <button type="submit"><i class="fa-regular fa-thumbs-up"></i>{{count1}} Like</button>
                                </form>
                                <form action="" method="post" class="likeform">
                                    <button><i class="fa-regular fa-message"></i> Comment</button>
                                </form>
                                <form action="" method="post" class="likeform">
                                    <button><i class="fa-solid fa-share"></i> Share</button>
                                </form>
                            </div>
                        </div>
                        <hr>
                        <div class="mindjef">
                            <img src="../static/images/john unknown.jpg" alt="" height="50px" width="50px">
                            <a href="#"><input type="text" placeholder="Write a comment..."></a>
                        </div>
                        
                    </div>
                </div>



                <!-- post2 starts here  -->


                <div class="post1">
                    <div class="photopro">
                        <img src="../static/images/australias-david-warner-16560671474x3.jpg" alt="" height="50px" width="50px">
                        <p class="safi">Warner David <br> <span>1 September at 21:17</span></p>
                        <p class="pulligal">...</p>
                        <p class="x">X</p>
                    </div>

                    <div class="captionrow">
                        <p>Comeee Onnn!</p>
                        <div class="pc">
                        <p><i class="fa-solid fa-camera-retro"></i></p> <a href="#">  @Johnson</a><br>
                        </div>
                        <nav>
                            <a href="#">#instagram</a>
                            <a href="#">#instagood</a>
                            <a href="#">#dslr</a>
                            <a href="#">#photography</a>
                            <a href="#">#gwalior</a>
                            <a href="#">#airforce</a>
                            <a href="#">#defence</a>
                            <a href="#">#naturephotography</a>
                            <a href="#">#nature</a>
                            <a href="#">#latepost</a>
                            <a href="#">#playthegame</a>
                            <a href="#">#model</a>
                            <a href="#">#photography</a>
                            <a href="#">#outdoors</a>
                        </nav>
                    </div>
                    <div class="originalphoto">
                        <img src="../static/images/australias-david-warner-16560671474x3.jpg" alt="" height="600px" width="100%">
                        <div class="likeothers">
                            <p class="thumb1"><i class="fa-regular fa-thumbs-up"></i> jeffin dericks and 20 others</p>
                            <p>1 <i class="fa-regular fa-message"></i></p>
                        </div>
                        <hr>
                        <div class="likesharecomment">
                            <div class="likey">
                                <form action="/operate/2" method="post" class="likeform">
                                    <button type="submit"><i class="fa-regular fa-thumbs-up"></i>{{count2}} Like</button>
                                </form>
                                <form action="" method="post" class="likeform">
                                    <button><i class="fa-regular fa-message"></i> Comment</button>
                                </form>
                                <form action="" method="post" class="likeform">
                                    <button><i class="fa-solid fa-share"></i> Share</button>
                                </form>
                            </div>
                        </div>
                        <hr>
                        <div class="mindjef">
                            <img src="../static/images/australias-david-warner-16560671474x3.jpg" alt="" height="50px" width="50px">
                            <a href="#"><input type="text" placeholder="Write a comment..."></a>
                        </div>
                        
                    </div>
                </div>


                <!-- post3 starts here  -->


                <div class="post1">
                    <div class="photopro">
                        <img src="../static/images/755352-dale-steyn-file.avif" alt="" height="50px" width="50px">
                        <p class="safi">Dale Steyn <br> <span>20 October at 05:45</span></p>
                        <p class="pulligal">...</p>
                        <p class="x">X</p>
                    </div>

                    <div class="captionrow">
                        <p>Fast & Furious...</p>
                        <div class="pc">
                        <p><i class="fa-solid fa-camera-retro"></i></p> <a href="#">  @Finch</a><br>
                        </div>
                        <nav>
                            <a href="#">#instagram</a>
                            <a href="#">#instagood</a>
                            <a href="#">#dslr</a>
                            <a href="#">#photography</a>
                            <a href="#">#gwalior</a>
                            <a href="#">#airforce</a>
                            <a href="#">#defence</a>
                            <a href="#">#naturephotography</a>
                            <a href="#">#nature</a>
                            <a href="#">#latepost</a>
                            <a href="#">#playthegame</a>
                            <a href="#">#model</a>
                            <a href="#">#photography</a>
                            <a href="#">#outdoors</a>
                        </nav>
                    </div>
                    <div class="originalphoto">
                        <img src="../static/images/skysports-dale-steyn-south-africa_4965229.jpg" alt="" height="600px" width="100%">
                        <div class="likeothers">
                            <p class="thumb1"><i class="fa-regular fa-thumbs-up"></i>Dale steyn and 2000 others</p>
                            <p>1 <i class="fa-regular fa-message"></i></p>
                        </div>
                        <hr>
                        <div class="likesharecomment">
                            <div class="likey">
                                <form action="/operate/3" method="post" class="likeform">
                                    <button><i class="fa-regular fa-thumbs-up"></i>{{count3}} Like</button>
                                </form>
                                <form action="" method="post" class="likeform">
                                    <button><i class="fa-regular fa-message"></i> Comment</button>
                                </form>
                                <form action="" method="post" class="likeform">
                                    <button><i class="fa-solid fa-share"></i> Share</button>
                                </form>
                            </div>
                        </div>
                        <hr>
                        <div class="mindjef">
                            <img src="../static/images/755352-dale-steyn-file.avif" alt="" height="50px" width="50px">
                            <a href="#"><input type="text" placeholder="Write a comment..."></a>
                        </div>
                        
                    </div>
                </div>
            </div>


            <div class="col_3">
                <div class="moththama">
                    <p class="birth">Birthdays</p>
                    <div class="bdae">
                        <p class="gify"><i class="fa-solid fa-gift"></i></p>      
                        <p><b>Anbu Karthick</b> and <b>Vishnu <br> Ram</b>  have their birthdays <br> today.</p>
                    </div>
                </div>
                <hr class="kodu">

                <div class="congladot">
                    <p>Contacts</p>
                    <div class="gladot">
                        <form action="" method="post"><button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button></form>
                        <p class="dotpulli">More</p>
                    </div>
                </div>

                <div class="originalcon">
                    <div class="one1">
                        <img class="one1p" src="../static/images/abd.webp" alt="" height="40px" width="40px">
                        <p>Durai</p>
                        <img class="activenow" src="../static/images/active_now.png" alt="" height="12px" width="12px">
                    </div>
                    <div class="one1">
                        <img class="one1p" src="../static/images/gayle-red_d.webp" alt="" height="40px" width="40px">
                        <p>Sami kannan</p>
                        <img class="activenow" src="../static/images/active_now.png" alt="" height="12px" width="12px">
                    </div>
                    <div class="one1">
                        <img class="one1p" src="../static/images/AB golf.jpg" alt="" height="40px" width="40px">
                        <p>Alexander</p>
                        <img class="activenow" src="../static/images/active_now.png" alt="" height="12px" width="12px">
                    </div>
                    <div class="one1">
                        <img class="one1p" src="../static/images/Jemimah-Rodrigues-WBBL-Fifty-2021-1200x900.jpg" alt="" height="40px" width="40px">
                        <p>shakina</p>
                        <img class="activenow" src="../static/images/active_now.png" alt="" height="12px" width="12px">
                    </div>
                    <div class="one1">
                        <img class="one1p" src="../static/images/755352-dale-steyn-file.avif" alt="" height="40px" width="40px">
                        <p>Raymon</p>
                        <img class="activenow" src="../static/images/active_now.png" alt="" height="12px" width="12px">
                    </div>
                    <div class="one1">
                        <img class="one1p" src="../static/images/Ellyse-Perry.jpg" alt="" height="40px" width="40px">
                        <p>Perry</p>
                        <img class="activenow" src="../static/images/active_now.png" alt="" height="12px" width="12px">
                    </div>
                    <div class="one1">
                        <img class="one1p" src="../static/images/joshua_unknown.jpg" alt="" height="40px" width="40px">
                        <p>Karuppu</p>
                        <img class="activenow" src="../static/images/active_now.png" alt="" height="12px" width="12px">
                    </div>
                    
                </div>


            </div>
        </div>
    </div>
    




    
</body>
</html>